<h1>Список продуктов</h1>
<ul>
    {% for product in products %}
        <li>
            <h3>{{ product.name }}</h3>
            <p>Владелец: {{ product.owner.username }}</p>
            {% if user.is_authenticated %}
                {% if product.owner == user or user.has_perm('catalog.delete_product') %}
                    <a href="{% url 'product_update' product.id %}">Редактировать</a>
                    <a href="{% url 'product_delete' product.id %}">Удалить</a>
                {% endif %}
            {% endif %}
        </li>
    {% endfor %}
</ul>
<a href="{% url 'product_create' %}">Создать новый продукт</a>